@import "tailwindcss";

@theme {
  --font-sans: "Funnel Display", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Fraunces 72pt", ui-serif, Georgia, serif;
  --color-black: #030712;
  --color-white: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body,
* {
  cursor: none !important;
}

/* Funnel Display */

@font-face {
  font-family: "Funnel Display";
  src:
    url("./assets/fonts/FunnelDisplay-Light.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Funnel Display";
  src:
    url("./assets/fonts/FunnelDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/* Fraunces 72pt */

@font-face {
  font-family: "Fraunces 72pt";
  src:
    url("./assets/fonts/Fraunces72pt-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/Fraunces72pt-LightItalic.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
